<!-- Simple form which will send a POST request -->
<form action="/artists" method="GET">
  <input placeholder='Search for an artist!' id="artist-input" type="text" name="artist">
  <button type="submit">Search for an Artist</button>
</form>